.dc-project {
    width: 100%;
    clear: left;
    margin-bottom: 1em;
}

.dc-project img {
    width: 75px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.dc-project .dc-project-location {
    font-size: 0.8em;
}